@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/desktop_background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.flex-center {
    @apply flex justify-center items-center;
}

.hiddenplus {
    display: none !important;
}

#options-dropdown {
    bottom: -120px;
}

#options-dropdown.active {
    bottom: 60px;
}

.options-button {
    @apply hover:text-white duration-200;
}

.options-button .fa {
    @apply w-[17.5px] me-2;
}